.usersBlock {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.usersList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

@media only screen and (max-width: 690px){
    .usersList {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
  }

@media only screen and (max-width: 480px){
    .usersList {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  