.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(57, 58, 58);
}

.nav {
  grid-area: n;
  
  padding: 15px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item .activeLink {
  color: gold;
}

.friendsList {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

