.nav {
  grid-area: n;
  background-color: rgb(57, 58, 58);
  padding: 15px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item .activeLink {
  color: gold;
}