.nav {
  width: 50%;
}

.nav .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav .item:not(:last-child) {
  margin-right: 5px;
}

.nav .item a, .nav .item .activeLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.nav .item a span, .nav .item a .icon path {
  color: #fff;
  fill: #fff;
}

.nav .item a:hover span {
  color: #61DAFB;
}

.nav .item a:hover .icon path {
  fill: #61DAFB;
}

.nav .item a .icon {
  height: 22px;
  width: auto;
  margin-bottom: 5px;
}

.nav .item a span{
  font-size: 14px ;
}

/* темна тема */
.navDark .item a span, .navDark .item a .icon path{
  color: #565f5f;
  fill: #565f5f;
}

@media only screen and (max-width: 600px){
  .item a span {
    display: none;
  }
}








