.descriptionBlock {
    padding: 5px;
    border-radius: 4px;
}
.avatarBlock {
    width: fit-content;
    position: relative;
    padding-bottom: 5px;
}
.avatarBlock img {
    width: 200px;
    height: auto;
    border: 2px solid #565f5f;
    border-radius: 4px;
}

.avatarBlock label {
    position: absolute;
    display: block;
    background-color: transparent;
    bottom: 9px;
    left: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: #565f5f;
    padding: 2px;
}
.avatarBlock label:hover .downloadIcon {
    fill: #61DAFB;
}

.avatarBlock label .downloadIcon {
    width: 30px;
    height: auto;
    fill: #fff;
}

.avatarBlock input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.status {
    margin-bottom: 10px;
    color: #565f5f;
}

.status input:focus {
    border: 2px solid #61DAFB;
    border-radius: 2px;
    color: #565f5f;
    font-weight: 700;
    padding: 3px;
    width: fit-content;
    outline: none;
}

.status span {
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
}
.status .statusIcon {
    fill: #565f5f;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.status .statusIcon:hover {
    fill: #61DAFB;
}

.profileData {
    display: flex;
    flex-direction: column;
    color: #565f5f;
}
.profileData .profileEditBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.profileEditBlock h2 {
    margin-right: 15px;
    font-size: 25px;
    font-weight: 700;
}

.profileEditBlock .EditProfileDataIcon {
    fill: #565f5f;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.profileEditBlock .EditProfileDataIcon:hover {
    fill: #61DAFB;
}

.profileDataList {
    margin-bottom: 15px
}

.profileDataList li {
    font-weight: 700;
}

.profileDataList li span {
    font-weight: 400;
}

.profileContacts {
    display: flex;
    flex-direction: column;
}

.profileContacts h3 {
    font-size: 20px;
    font-weight: 700;
}

.profileContacts .profileContactsList li {
    font-weight: 700;
}

.profileContacts .profileContactsList li span {
    font-weight: 400;
}