.descriptionBlock {
    border: 1px solid #565f5f;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.descriptionBlock .mainBlock {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.mainBlock .avatarBlock {
    width: fit-content;
    position: relative;
    padding-bottom: 5px;
}
.avatarBlock img {
    width: 200px;
    height: auto;
    border: 2px solid #565f5f;
    border-radius: 4px;
}

.avatarBlock label {
    position: absolute;
    display: block;
    background-color: transparent;
    bottom: 9px;
    left: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: #565f5f;
    padding: 2px;
}

.avatarBlock label .downloadIcon {
    width: 30px;
    height: auto;
    fill: #fff;
}

.avatarBlock label:hover + .downloadIcon {
    fill: #61DAFB;
}

.avatarBlock input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.mainBlock .status {
    margin-bottom: 10px;
    color: #565f5f;
}

.mainBlock .status input:focus {
    border: 2px solid #61DAFB;
    border-radius: 2px;
    color: #565f5f;
    font-weight: 700;
    padding: 3px;
    width: fit-content;
    outline: none;
}

.mainBlock .status span {
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
}

.mainBlock .status .statusIcon {
    fill: #565f5f;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.status .statusIcon:hover {
    fill: #61DAFB;
}

.descriptionBlock .profileData {
    display: flex;
    flex-direction: column;
    color: #565f5f;
}

.profileData .profileEditBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.profileEditBlock h2 {
    margin-right: 15px;
    font-size: 25px;
    font-weight: 700;
}

.profileEditBlock .EditProfileDataIcon {
    fill: #565f5f;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.profileEditBlock .EditProfileDataIcon:hover {
    fill: #61DAFB;
}

.profileDataList {
    margin-bottom: 15px
}

.profileDataList li {
    font-weight: 700;
}

.profileDataList li:not(:last-child) {
    margin-bottom: 5px;
}

.profileDataList li span {
    font-weight: 400;
}

.profileContacts {
    display: flex;
    flex-direction: column;
}

.profileContacts h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.profileContacts .profileContactsList li {
    font-weight: 700;
}

.profileContacts .profileContactsList li:not(:last-child) {
    margin-bottom: 5px;
}

.profileContacts .profileContactsList li span {
    font-weight: 400;
}

/* ProfileDataEditForm */
.dataEditForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataEditForm .mainFormBlock {
    min-width: 100%;
}

.mainFormBlock .aboutBlock, .mainFormBlock .contactsBlock {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.aboutBlock {
    margin-bottom: 15px;
}
.aboutBlock span {
    text-align: center;
    margin-bottom: 5px;
}
.aboutBlock label {
    position: relative;
    display: block;
    min-width: 100%;
}
.aboutBlock label:not(:last-child) {
    margin-bottom: 10px;
}
.aboutBlock label span {
    text-align: start;
    display: block;
    margin-bottom: 5px;
}
.aboutBlock label div {
    position: relative;
    min-width: 100%;
}
.aboutBlock label div input {
    display: block;
    min-width: calc(100% - 9px)
}
.aboutBlock label div textarea {
    display: block;
    min-width: calc(100% - 9px)
}

/* чекбокс */
.aboutBlock .jobCheck {
    display: flex;
    flex-direction: row;
}
.aboutBlock .jobCheck span {
    margin-right: 10px;
}
.aboutBlock .jobCheck div {
    min-width: fit-content;
}
.aboutBlock .jobCheck div input {
    min-width: fit-content;
}

.contactsBlock {
    margin-bottom: 10px;
}
.contactsBlock span {
    text-align: center;
    margin-bottom: 5px;
}
.contactsBlock label {
    position: relative;
    display: block;
    min-width: 100%;
}
.contactsBlock label:not(:last-child) {
    margin-bottom: 10px;
}
.contactsBlock label span {
    text-align: start;
    display: block;
    margin-bottom: 5px;
}
.contactsBlock label div {
    position: relative;
    min-width: 100%;
}
.contactsBlock label div input {
    display: block;
    min-width: calc(100% - 9px)
}

@media only screen and (min-width: 768px){
    .descriptionBlock {
        display: flex;
        flex-direction: row;
    }
    .descriptionBlock .mainBlock {
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }
  }

  
  