.error textarea {
    /* border: 2px solid rgb(228, 81, 81); */
    color: rgb(228, 81, 81);
}
.error span {
    color: rgb(228, 81, 81);
    font-size: 14px;
}
.formErrorSummary {
    color: rgb(228, 81, 81);
    padding: 5px;
}