.formLoginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #565f5f;
    padding: 10px;
    border-radius: 10px;
}

.formLoginContainer h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #fff;
}

.formLoginContainer .formLogin {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin label {
    position: relative;
    color: #fff;
}

.formLogin img {
    height: 80px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.formLogin label div input {
    padding: 5px 10px;
    border: none;
}

.formLogin label div input {
    outline: none;
}

.formLogin label:last-of-type {
    position: relative;
    margin-bottom: 10px;
}

.formLogin label div {
    position: relative;
    padding-bottom: 20px;
}

.formLogin label div span {
    display: block;
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    margin: 0 auto;
}

.formLogin div {
    position: relative;
    padding-bottom: 20px;
}

.formLogin div input {
    position: relative;
    padding: 5px 10px;
}

.formLogin div span {
    display: block;
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    margin: 0 auto;
}

.formLogin  button {
    cursor: pointer;
    padding: 3px 10px;
    color: #565f5f;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 2px;
}

