.formLoginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #565f5f;
    padding: 10px;
    border-radius: 10px;
}

.formLoginContainer h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color: #fff;
}

.formLoginContainer .formLogin {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin label {
    position: relative;
    color: #fff;
}

.formLogin img {
    height: 80px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.formLogin label {
    width: 100%;
}

.formLogin label div {
    position: relative;
    padding-bottom: 20px;
}

.formLogin label div input {
    min-width: 94%;
    padding: 10px;
    border: none;
}

.formLogin label div input {
    outline: none;
    border-radius: 2px;
}
/* стиль чекбокса */
.formLogin .rememberCheck {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.rememberCheck input {
    display: none;
}

.rememberCheck .fake {
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 2px;
}

.rememberCheck .fake::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #61DAFB;
    opacity: 0;
    transition: 0.3s;
}

.rememberCheck input:checked + .fake {
    border: 1px solid #61DAFB;
}
.rememberCheck input:checked + .fake::before {
    opacity: 1;
}

.formLogin label div span {
    display: block;
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    margin: 0 auto;
}

.formLogin div {
    position: relative;
    padding-bottom: 20px;
}

.formLogin div input {
    position: relative;
    padding: 5px 10px;
}

.formLogin div span {
    display: block;
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    margin: 0 auto;
}

.formLogin button {
    cursor: pointer;
    padding: 3px 10px;
    color: #565f5f;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 2px;
}

.formLogin button:hover {
    background-color: #61DAFB;
    color: #565f5f;
}

.formLogin label .formErrorSummary {
    display: block;
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 0px;
}

/* темна тема */
.formLoginContainerDark {
    background-color: #fff;
}
.formLoginContainerDark h1 {
    color: #565f5f;
}
.formLoginContainerDark .formLogin label {
    color: #565f5f;
}
.formLoginContainerDark .rememberCheck .fake {
    background-color: #565f5f;
}
.formLoginContainerDark .formLogin button {
    background-color: #565f5f;
    color: #fff;
}
.formLoginContainerDark .formLogin button:hover {
    background-color: #61DAFB;
    color: #565f5f;
}
.formLoginContainerDark .formLogin div input {
    background-color: #565f5f;
    color: #fff;
}
.formLoginContainerDark .formLogin div input::placeholder {
    color: #fff;
    opacity: 0.9;
}

@media only screen and (max-width: 390px) {
    .formLoginContainer {
        width: 100%;
    }
    .formLoginContainer .formLogin {
        min-width: 90%;
    }
  }