.app-wrapper {
  box-sizing: border-box;
  font-family: 'Wix Madefor Text', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.app-wrapper-content {
  position: relative;
  padding-top: 51px;
  background-color: #fff;
  min-height: calc(100vh - 60px);
}
.app-preloader {
  position: relative;
}


