.appWrapper {
  box-sizing: border-box;
  font-family: 'Wix Madefor Text', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.appWrapperContent {
  position: relative;
  padding-top: 51px;
  background-color: #fff;
  min-height: calc(100vh - 60px);
}
.appWrapperContentDarkTheme {
  background-color: #565f5f;
}
.appPreloader {
  position: relative;
}
.notFound {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #61DAFB;
}

