.app-wrapper {
  box-sizing: border-box;
  font-family: 'Wix Madefor Text', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.app-wrapper-content {
  background-color: rgb(247, 237, 225);
  min-height: calc(100vh - 60px);
}


